<footer class="footer">
    <div class="container">
        <div class="footer-body">
            <ul class="footer-links">
                <li>
                    <a href="#"><i class="icon-left"></i> Politika e Privatësisë</a>
                </li>
                <li>
                    <a href="#"><i class="icon-left"></i> Kushtet e Përdorimit</a>
                </li>
                <li>
                    <a href="#"><i class="icon-left"></i> Na Kontaktoni <b>+355 685476431</b> </a>
                </li>
            </ul>

            <img class="logo" src="../../../assets/UMT Inventory/umtinventoy 1 A.svg" alt="" />

            <p>&copy; 2023 UMT Inventory. Të gjitha të drejtat e rezervuara.</p>
        </div>
    </div>
</footer>
