<div class="nav">
    <div class="container">
        <div class="flex">
            <div class="nav-items">
                <img class="logoinnav" src="../../../assets/UMT Inventory/umtinventoy 1.svg" alt="" />
                <mat-menu class="hamburger-menu" #menu="matMenu">
                    <a mat-menu-item routerLink="/buildings">Workspaces</a>

                    <a mat-menu-item routerLink="/requests">Requests</a>

                    <a mat-menu-item routerLink="/manage-users">Manage Users</a>
                    <a mat-menu-item routerLink="/change-password">Change Password</a>

                    <div mat-menu-item class="button buton-bisha" (click)="logout()">
                        <span class="material-icons">logout</span>
                        <span>Logout</span>
                    </div>
                </mat-menu>
                <mat-icon class="hamburger" mat-icon-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
            </div>
        </div>
    </div>
</div>
