<body class="auth">
    <div class="page-container">
        <div class="login-body-container">
            <div class="login-header"><p class="login-title">Ndrysho Fjalëkalimin</p></div>
            <form [formGroup]="myForm" class="forma">
                <mat-form-field appearance="outline" class="bisha" hideRequiredMarker>
                    <mat-label for="oldPassword">Fjalëkalimi vjetër</mat-label>
                    <input
                        matInput
                        type="password"
                        formControlName="oldPassword"
                        placeholder="Fjalëkalimi vjetër"
                        autocomplete="off" />
                    <mat-error *ngIf="myForm.controls['oldPassword'].invalid">Duhen 8 karaktere</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="bisha">
                    <mat-label for="newPassword">Fjalëkalimi i ri</mat-label>
                    <input matInput type="password" formControlName="newPassword" placeholder="Fjalëkalimi i ri" />
                    <mat-error *ngIf="myForm.controls['newPassword'].invalid">Duhen 8 karaktere</mat-error>
                </mat-form-field>
                <button (click)="onSubmit()" [disabled]="!myForm.valid" class="button button-full">
                    Ndrysho Fjalëkalimin
                </button>
            </form>
        </div>
    </div>
</body>
