<body class="auth">
    <div class="login-container">
        <div class="login-body-container">
            <div class="login-header"><p class="login-title">Change Password</p></div>
            <form [formGroup]="myForm" class="forma">
                <mat-form-field appearance="outline" class="bisha" hideRequiredMarker>
                    <mat-label for="oldPassword">Old Password:</mat-label>
                    <input
                        matInput
                        type="password"
                        formControlName="oldPassword"
                        placeholder="Old Password"
                        autocomplete="off" />
                    <mat-error *ngIf="myForm.controls['oldPassword'].invalid">Incorrect old password</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="bisha">
                    <mat-label for="newPassword">New Password:</mat-label>
                    <input matInput type="password" formControlName="newPassword" placeholder="New Password" />
                    <mat-error *ngIf="myForm.controls['newPassword'].invalid">Invalid new password</mat-error>
                </mat-form-field>
                <button (click)="onSubmit()" [disabled]="!myForm.valid" class="button button-full">
                    Change Password
                </button>
            </form>
        </div>
    </div>
</body>
