.items {
    background-image: url('../../../assets/Background/background1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter';
    position: relative;
    .itemtable {
        display: flex;
        margin-top: 5rem;
        .mat-elevation-z8 {
            border-radius: 14px;
            max-width: 1700px;
            width: 100%;
            box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);

            table {
                th.mat-header-cell.mat-sort-header {
                    background-color: #29abe2 !important;
                    color: white;
                }
            }

            .mat-paginator {
                margin-top: 10px;

                display: flex;
                justify-content: center;
                align-items: center;

                .mat-paginator-range-label {
                    font-weight: bold;
                }

                .mat-paginator-navigation-previous,
                .mat-paginator-navigation-next {
                    color: #29abe2;
                }

                .mat-paginator-navigation-previous:hover,
                .mat-paginator-navigation-next:hover {
                    background-color: #29abe2;
                    color: white;
                }

                .mat-select-arrow {
                    color: #29abe2;
                }

                .mat-select-panel {
                    background-color: #f5f5f5;
                    color: #333;
                }
            }
        }
    }
}
