.building-selection {
    margin: 2rem auto;
    .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2rem;
        div {
            width: 100%;
            .card {
                border: 1px solid #ccc;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    background-color: white;
                }

                .card-body {
                    padding: 20px;
                    h3 {
                        margin: 0;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
}
